---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Bio from "../components/Bio.astro";
---

<Layout title="">
  <main
    class="relative m-auto grid w-full max-w-6xl gap-2 overflow-hidden p-10 sm:gap-2 sm:p-4 md:grid-cols-2 md:gap-3 md:p-6 lg:grid-cols-12 lg:gap-4"
  >
    <Card
      colSpan="lg:col-span-9 md:col-span-2"
      rowSpan="md:row-span-1 lg:row-span-4"
    >
      <Bio />
    </Card>
    <Card
      colSpan="lg:col-span-3 md:col-span-1"
      rowSpan="md:row-span-3 lg:row-span-6"
      title="About me"
    >
      <AboutMe />
    </Card>
  </main>
</Layout>
