---
import Layout from "../layouts/Layout.astro";
import Card from "../components/molecules/Card.astro";
import Bio from "../components/organisms/Bio.astro";
import SkillsOverview from "../components/organisms/SkillsOverview.astro";
import Projects from "../components/organisms/Projects.astro";
import Intro from "../components/organisms/Intro.astro";
import Line from "../components/atoms/Line.astro";
import Activities from "../components/Activities.astro";
import ContactMe from "../components/organisms/ContactMe.astro";
import GetMyResume from "../components/organisms/GetMyResume.astro";
---

<Layout title="">
  <main
    class="relative m-auto grid w-full gap-4 overflow-hidden p-1 sm:gap-2 sm:p-4 md:grid-cols-3 md:gap-6 md:p-8 lg:grid-cols-12 lg:gap-8"
  >
    <Card
      variant="borderless"
      colSpan="col-span-full"
      rowSpan="row-span-1 row-start-1"
      className="custom-gradient-mini-row md:custom-gradient p-0"
    >
      <Intro />
    </Card>

    <!-- <Line rowSpan="row-span-1 row-start-2" /> -->
    <Bio rowSpan="row-span-1 row-start-3" />
    <!-- <Line rowSpan="row-span-1 row-start-4" /> -->

    <Card
      colSpan="col-span-full md:col-span-1 lg:col-span-4"
      rowSpan="row-span-4 row-start-5"
      title="Projects"
      className="m-4 md:m-0"
    >
      <Projects />
    </Card>

    <Card
      colSpan="col-span-full md:col-span-1 md:col-start-2 lg:col-span-4 lg:col-start-5"
      rowSpan="row-span-2 row-start-9 md:row-start-5"
      title="Contact me"
      className="m-4 md:m-0"
    >
      <ContactMe />
    </Card>

    <Card
      colSpan="col-span-full md:col-span-1 md:col-start-2 lg:col-span-4 lg:col-start-5"
      rowSpan="row-span-2 row-start-11 md:row-start-7"
      title="Here’s my resume"
      className="m-4 md:m-0"
    >
      <GetMyResume />
    </Card>

    <Card
      colSpan="col-span-full md:col-span-1 md:col-start-3 lg:col-span-4 lg:col-start-9"
      rowSpan="row-span-4 row-start-13 md:row-start-5"
      title="Skills Overview"
      className="m-4 md:m-0"
    >
      <SkillsOverview />
    </Card>
  </main>
</Layout>
