---
import { PROFILE } from "../content/PROFILE";
import Text from "./atoms/Text.astro";
---

<div class="animate-appear flex flex-col gap-2">
  <Text text={PROFILE.headLine} size="md" weight="light" />
  <Text text={PROFILE.headLine2} size="lg" weight="normal" />
  <hr />
  <Text text="I use the following technologies:" size="md" weight="light" />

  <ul class="flex flex-col gap-1.5">
    {
      PROFILE.skills.map((skill) => (
        <li class="flex items-center">
          <span class="mr-2 text-lg">•</span>
          <Text text={skill} size="lg" weight="light" />
        </li>
      ))
    }
  </ul>
</div>
