---
interface Props {
  title?: string;
  description?: string;
  colSpan?: string;
  rowSpan?: string;
}

const { title, description, colSpan, rowSpan } = Astro.props;
---

<div class={`rounded-lg border bg-white p-4 shadow-md ${colSpan} ${rowSpan}`}>
  <h2 class="text-lg font-bold md:text-xl">{title}</h2>
  <p>{description}</p>
  <slot />
</div>
