---
import { getCollection } from "astro:content";
import Button from "../components/Button.astro";
import Text from "../components/atoms/Text.astro";
import { PROFILE } from "../content/PROFILE";
// Íconos
import { Mail } from "lucide-react";
import { FaWhatsapp } from "react-icons/fa";
---

<div class="space-y-4 text-center">
  <Text
    text="Let's chat! I'm always excited to collaborate on new projects or just talk about tech. Drop me a message here:"
    size="lg"
    color="dark"
    style="normal"
  />
  
  <div class="flex gap-4  justify-center items-center">
    {PROFILE.contacts.map((contact) => {
      const Icon = contact.platform === "mail" ? Mail 
        : contact.platform === "whatsapp" ? FaWhatsapp 
        : null;
        
      return (
        <Button
          href={contact.link}
          variant="secondary"
          size="large"
          aria-label={`Contact via ${contact.platform}`}
          className="flex items-center justify-center gap-2 transition-transform hover:scale-105 w-auto md:w-12 lg:w-auto lg:min-w-[120px]"
        >
          {Icon && <Icon size={24} className="w-6 h-6 flex-shrink-0" />}
          <span class="hidden lg:inline text-sm font-medium">
            {contact.actionText}
          </span>
        </Button>
      );
    })}
  </div>
  
  <Text
    text="I typically respond within a few hours. Can't wait to connect and explore how we can work together! 😊"
    size="sm"
    color="dark"
    style="normal"
    className="italic"
  />
</div>