---

---

<header
  class="sticky top-0 z-50 w-full border-b bg-background/80 backdrop-blur supports-[backdrop-filter]:bg-background/40"
>
  <div
    class="container m-0 flex h-16 items-center space-x-4 sm:justify-between sm:space-x-0"
  >
    <div class="flex gap-6 md:gap-10">
      <a href="/" class="flex items-center space-x-2">
        <span class="inline-block font-bold">Cristian Sangucho</span>
      </a>
    </div>
    <div class="flex flex-1 items-center justify-end space-x-4">
      <nav class="flex items-center space-x-10">
        <a href="/projects" class="custom-rounded p-2 hover:bg-muted"
          >Projects</a
        >
        <a
          href="https://github.com/cristian-sangucho-a"
          class="custom-rounded p-2 hover:bg-muted">GitHub</a
        >
      </nav>
    </div>
  </div>
</header>

<style>
  .custom-rounded {
    border-radius: 16px;
  }
</style>
