---
import { getCollection } from "astro:content";
import Button from "../components/Button.astro";

let projects = await getCollection("projects");
---

<div class="mt-2 space-y-4 pl-3">
  {
    projects.map((project: any) => (
      <div>
        <h3 class="text-lg font-semibold text-primary">
          <a href={`/projects/${project.slug}`} class="hover:underline">
            {project.data.title}
          </a>
        </h3>
        <p class="ml-1 line-clamp-2 text-sm leading-none">
          {project.data.description}
        </p>
        <p class="text-sm text-gray-600" />
      </div>
    ))
  }

  <hr />
  <Button variant="link" href="/projects"> View More...</Button>
</div>
