---
import { PROFILE } from "../content/PROFILE";
import Text from "./atoms/Text.astro";
import Icon from "./atoms/Icon.tsx";
---

<div class="animate-appear flex flex-col gap-2">
  <Text text={PROFILE.headLine} size="md" weight="light" color="primary" />
  <Text text={PROFILE.headLine2} size="lg" weight="normal" />

  <hr />

  <Text
    text="To deliver effective and high-quality solutions, I've worked with the following technologies:"
    size="sm"
    weight="light"
  />

  <div class="mt-4 grid grid-cols-3 gap-4">
    {
      PROFILE.skills.map((skill) => {
        return (
          <div class="flex flex-col items-center justify-center">
            <Icon
              icon={skill}
              size="md"
              color="primary"
              className="mb-1 transition-transform hover:scale-125"
            />
            <Text text={skill} size="sm" weight="light" color="primary" />
          </div>
        );
      })
    }
  </div>
</div>
